# Data
Data/
*.csv
*.parquet
*.nc
*.zarr

# Figures and Documentation 
Figures/ 
Junk Folder/ 
Presentation/ 
Readings/ 
Documentation/ 
Data/
manin/

# python and configs
__pycache__/
*.pyc
*.egg-info/
.venv/
.vscode/

# specific files
*.bat


# Figures/
# Junk Folder/
# Readings/ 
# Presentation/
# Code/Data/*
# !Code/Data/*.py
# Code/Data/Satlink_live
# Code/Data/Palmyra_Shapefiles
# Code/Data/Palmyra/
# Code/Data/Palmyra_Data_CSV/MI/*
# Code/Data/Palmyra_Data_CSV/Satlink/*
# !Code/Data/Palmyra_Data_CSV/Satlink/.gitkeep
# !Code/Data/Palmyra_Data_CSV/MI/.gitkeep
# Code/functions/__pycache__/*
# .gitignore
# Documentation/*
# Code/cmems.nc
# Code/Parcels/*.zarr
# Code/Parcels/Output/*
# Code/Parcels/*.csv
# Code/Parcels/Output_firstdays
# Code/Parcels/saved_ouput/*
# Code/Parcels/saved_output
# Code/functions/__pycache__/*
# __pycache__/
# *.pyc
# Code/__pycache__/*
# Code/Data_new_combining/*
# Code/functions.egg-info
# Code/functions/__init__.py
# *.zarr
# Code/manin/media/*
# Code/*.mp4
# Code/Parcels/config_files/*